<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Configuration>
  <server version="0.0.1" name="SharpDog"/>


  <SharpDog>

    <TestApplication
      MaxClient="1024"
      >
      <TCPListeners
        IPAddress="127.0.0.1"
        Port="8080"
        InactivityTimeout="100"
        >
      </TCPListeners>

      <!--NetType 0 =Tcp 1=UDP  2=Http-->
      <Application
        NetType="0"
        FilePath="Test2"
        Type="Test.TestApplication"
        MainApp="Test.dll"
        >
      </Application>

    </TestApplication>

  </SharpDog>

</Configuration>